.home h1 {
  margin: 40px auto;
}

.home .form-card {
  width: 50%;
  font-size: 16px;
  background-color: #FFFFFF;
  color: rgba(0, 0, 0, 0.87);
  margin: 0 auto;
  display: flex;
}

.home .table-card {
  margin-top: 100px;
}
