.home {
  background:#FFFFFF;
}

.home h1 {
  padding-top: 40px;
}

.home .form-card {
  width: 50%;
  font-size: 16px;
  background-color: #FFFFFF;
  color: rgba(0, 0, 0, 0.87);
  margin: 0 auto;
  display: flex;
}

.home .sales-table-container {
  margin-top: 100px;
  background-color: #FFFFFF;
}
