.sales-table-container {
  margin: 60px 24px;
  width: fit-content;
  border: 1px solid rgba(0,0,0,0.12);
  border-radius: 4px;
  font-size: 14px;
  box-shadow: 0 0 30px 0 rgb(0 30 84 / 15%);
  font-family: 'Roboto Condensed', sans-serif;
  background-color: white;
}


.sales-table th {
  padding: 16px 30px;
  text-align: left;
}

.sales-table td {
  padding: 16px 30px;
  text-align: left;
}


.sales-table tr:nth-child(even) {
  background: #F8F8F8;
}


.sales-table td span {
  margin-right: 4px ;
}
