.login-page-container {
  text-align: center;
  background-color: var(--copperpenny);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.login-page-logo {
  height: 30vmin;
  pointer-events: none;
  border-radius: 50%;
  margin-bottom: 120px;
}

@media (prefers-reduced-motion: no-preference) {
  .login-page-logo {
    animation: App-logo-spin infinite 50s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.login-form {
  width: 18em;
}

.login-form .form-control:focus {
  /* -webkit-box-shadow: none; */
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px rgba(0, 0, 0, 0.6);
}

.login-form .form-control {
  /* font-weight: 400; */
  background-color: white;
  border-color: #b77f7c;
}

.login-form .form-control::placeholder {
  font-weight: 400;
}

.login-page-container .login-form .error-message p {
  font-size: 12px;
  margin-top: 30px;
}

.login-form button {
  background-color: #EFBD6B;
  color:white;
  width: 60%;
  padding: 0.375rem 0;
  font-weight: 500;
  border: 1px solid #EFBD6B;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  font-size: 20px;
  border-radius: 10px;
  transition: .3s;
}

.login-form button:hover{
  animation: pulse 1s infinite;
  transition: .3s;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  70% {
    transform: scale(.9);
  }
    100% {
    transform: scale(1);
  }
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    box-shadow: 0 0 0 30px white inset !important;
};
