.navbar {
  background-color: white;
  box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
  padding: 2px 12px;
}

.navbar-logo {
  border-radius: 50%;
  border: none;
}

.navbar-brand {
  margin-right: 0px;
}

.navbar-header {
  color: rgb(26, 23, 23);
  /* color: rgba(34, 34, 34, 0.7); */
  font-family: 'Roboto Mono', monospace;
  margin: 0;
  font-weight: 500;
}

.navbar .btn-log-out-container {
  border: none;
  background-color: transparent;
  width: 70px;
}

.navbar .btn-log-out-text {
  margin: auto;
  font-size: 12px;
}

/* .navbar .btn-log-out-text:hover {
  text-decoration: underline;
} */

.navbar .btn-log-out {
  border-radius: 74px;
  width: 40px;
  height: 40px;
  border: none;
  background-color:  rgb(26, 23, 23);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.navbar .btn-log-out-container:hover {
  color:  rgba(26, 23, 23, 0.8);
}

.navbar .btn-log-out:hover {
  background-color:  rgba(26, 23, 23, 0.8);
}
