.navbar-logo {
  border-radius: 50%;
}

.navbar {
  background-color: var(--copperpenny);
}

.navbar .btn-log-out {
  border-radius: 74px;
  padding: 0.5rem 0.8rem;
  border: none;
  background-color: #c47c7a;
  color: white;
}

.navbar .btn-log-out:hover {
  background-color: #c78583;
  font-weight: 500;
}
/* .nav-link {
  color: white;
  font-size: larger;
} */

/* .nav-link:hover {
  font-weight: 500;
  color: white;
} */
