@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaldi:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root {
  --deepchampagne: #F5D49E;
  --bistre: #322618;
  --grullo:#AE9C84;
  --kakhiweb: rgb(253, 245, 232);
  --copperpenny: #BA6A66;
  --smokyblack: #0E0A07;
}


body {
  background: #fff8f7;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
