:root {
  --deepchampagne: #F5D49E;
  --bistre: #322618;
  --grullo:#AE9C84;
  --kakhiweb: #CFBDA7;
  --copperpenny: #BA6A66;
  --smokyblack: #0E0A07;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
